PORT=3010
NODE_ENV=development
DATABASE_URL=mysql://setka:setka@localhost:3306/setka
APP_URL=https://billiard.guru
NEXT_PUBLIC_APP_URL=https://billiard.guru
LOG_LEVEL=debug
APP_VERSION=0.1.0
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=BilliardGuruBot
TELEGRAM_WEBHOOK_SECRET=
